html {
    font-family:"Roboto", sans-serif;
    background-color: #ccc;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    max-width: 50rem;
    border: 2px black solid;
    padding: 10px;    
    border-radius: 10px;            
}

header {
    padding: 5px;
    background-color: maroon;
    text-align: center;
}

article {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
    display: flow-root;
    justify-content: center;
}

article img {
    max-width: 15rem;
    float: left;
    border: 2px black;
    margin-right: 2px;

}

footer {
    background-color: maroon;
    min-height: 5rem;
    max-height: 5rem;
    /* please don't change these values; you will have 
       plenty of chance to play with flex in the next problem */
    display: flex; 
    flex-order: row;
    justify-content: space-evenly;
    align-items: center;
}

button {
    /* this one is free! */
    min-width: 5rem;
}

